@{
    ViewData["Title"] = "发布有我";
}

<style>
    .selfContainer {
        padding-top: 21px;
    }

    form > div {
        margin: 20px;
    }
</style>

<div class="selfContainer">
    <form action="#">
        <div id="dvSourceDir">
            <input type="text" placeholder="请您输入根目录" id="sourceDir" name="sourceDir" style="width: 80%;" />
        </div>
        <div id="dvSearchKey">
            <input type="text" placeholder="请您输入文件名关键字" id="searchKey" name="searchKey" />
            <input type="button" id="doSearch" value="搜索" />
        </div>
        <div id="dvSearchResult" style="border: 1px rgba(0,0,0,.075) groove;">
            <h3>搜索结果</h3>
        </div>
        <div id="dvSaveSection" style="border: 1px rgba(0,0,0,.075) groove;">
            <h3>保留区</h3>
        </div>
        <div id="dvSaveBtn">
            <input type="button" id="saveResult" value="保存" />
        </div>
    </form>
</div>

@section Scripts{
    <script>
        $(function () {
            var reserveAreaData = [];
            $("#search-alert").hide();
            $("#doSearch").click(function () {
                $.post("/Home/DoSearchForPublish", {
                    sourceDir: $("#sourceDir").val(),
                    searchKey: $("#searchKey").val()
                }, function (ret) {
                    $("#dvSearchResult > div").remove();//清空上一次搜索的结果
                    console.log("ret:", ret);
                    if (!ret.bRet) {
                        myAlert("#dvSearchResult", ret.msg);
                    } else {
                        var temp;
                        for (var i = 0; i < ret.data.length; i++) {
                            temp = ret.data[i].replace(/\\|:|\./g, "");
                            //console.log("temp:",temp);
                            $("#dvSearchResult").append(" <div class='am-g'> <div class='am-u-sm-12'> <label class='am-checkbox'  id='" + temp + "'><input type='checkbox' value='' data-am-ucheck></label> </div> </div>");
                            $("#dvSearchResult #" + temp).append(ret.data[i]);
                            $("#dvSearchResult #" + temp + " input").unbind().click(function (e) {
                                var eleInput = e.target;
                                console.log("e", e);
                                console.log("eleInput.checked", eleInput.checked, eleInput.parentElement.id, eleInput.parentElement.innerText);
                                if (eleInput.checked/*选中*/) {
                                    reserveAreaData.push(eleInput.parentElement.innerText);
                                } else/*不选中*/ {
                                    reserveAreaData.splice(reserveAreaData.indexOf(eleInput.parentElement.innerText), 1);
                                }
                                console.log("reserveAreaData:", reserveAreaData);
                                $("#dvSaveSection > div").remove();//清空上一次搜索的结果
                                for (var i = 0; i < reserveAreaData.length; i++) {
                                    $("#dvSaveSection").append("<div><label  id='" + temp + "'>" + reserveAreaData[i] + "</label></div>");
                                }
                            });
                        }




                    }
                });
            });

            $("#saveResult").click(function () {
                $.post("/Home/ProcessForPublish", {
                    sourceDir: $("#sourceDir").val(),
                    reservedFiles: reserveAreaData
                }, function (ret) {
                    console.log("saveResult-ret:", ret);
                    myAlert("#dvSaveBtn", ret.bRet ? "保存成功" : ret.msg);
                });
            });
        });

        function myAlert(jqEleId,msg) {
            $("<div class='am-alert' id='search-alert'> <button type='button' class='am-close'>&times;</button> <p></p> </div>").insertBefore(jqEleId);
            $("#search-alert>p").text(msg);
            $("#search-alert").alert();
        }
    </script>
}