@{
    ViewData["Title"] = "发布有我";
}

<style>
    .selfContainer {
        padding-top: 21px;
    }

    form > div {
        margin: 20px;
    }
</style>

<div class="selfContainer">
    <form action="/Home/ProcessForPublish">
        <div id="dvSourceDir">
            <input type="text" placeholder="请您输入根目录" id="sourceDir" name="sourceDir" style="width: 80%;" />
        </div>
        <div id="dvSearchKey">
            <input type="text" placeholder="请您输入文件名关键字" id="searchKey" name="searchKey" />
            <input type="button" id="doSearch" value="搜索" />
        </div>
        <div id="dvSearchResult" style="border: 1px rgba(0,0,0,.075) groove;">
            <h3>搜索结果</h3>
        </div>
        <div id="dvSaveSection" style="border: 1px rgba(0,0,0,.075) groove;">
            <h3>保留区</h3>
        </div>
        <div>
            <input type="submit" value="保存" />
        </div>
    </form>
</div>

@section Scripts{
    <script>
        $(function () {
            $("#search-alert").hide();
            $("#doSearch").click(function () {
                $.post("/Home/DoSearchForPublish", {
                    sourceDir: $("#sourceDir").val(),
                    searchKey: $("#searchKey").val()
                }, function (ret) {
                    $("#dvSearchResult > div").remove();//清空上一次搜索的结果
                    console.log("ret:", ret);
                    if (!ret.bRet) {
                        $("<div class='am-alert' id='search-alert'> <button type='button' class='am-close'>&times;</button> <p></p> </div>").insertBefore("#dvSearchResult");
                        $("#search-alert>p").text(ret.msg);
                        $("#search-alert").alert();
                    } else {
                        var temp;
                        for (var i = 0; i < ret.data.length; i++) {
                            temp = ret.data[i].replace(/\\|:|\./g, "");
                            //console.log("temp:",temp);
                            $("#dvSearchResult").append(" <div class='am-g'> <div class='am-u-sm-12'> <label class='am-checkbox'  id='" + temp + "'><input type='checkbox' value='' data-am-ucheck></label> </div> </div>");
                            $("#" + temp).append(ret.data[i]);
                            $("#" + temp + " input").unbind().click(function (e) {
                                var eleInput = e.target;
                                console.log("e", e);
                                console.log("eleInput.checked", eleInput.checked, eleInput.parentElement.id, eleInput.parentElement.innerText);
                            });
                        }


                       

                    }
                    });
            });

           
        });
    </script>
}