
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProcessForPublish</title>
</head>
<body>
    <pre>
    源目录：@(ViewBag.sourceDir)
</pre>
</body>
</html>
